@import fonts
@import guide

body, html
  margin 0
  padding 0

body, button, input, select, textarea
  font: fonts.c1

section.section
  padding 30px 0

.container
  position relative
  max-width 1200px
  margin auto

.clear
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

ul
  margin 0
  padding 0
li
  margin 0
  padding 0
  list-style-type none

.page-enter-active
  transition opacity 1s ease-in-out 0.3s
.page-leave-active
  transition opacity 0.3s ease-in-out

.page-enter, .page-leave-to
  opacity 0

.seal
  display block
  width 90px
  height 90px
  padding-top 60px
  padding-left 60px
  > svg
    width inherit
    height inherit
    > path
      fill white

.address
  position absolute
  left 30px
  bottom 60px
  color white
  letter-spacing 3px
  text-transform uppercase
  text-decoration none

