@import fonts
@import guide

body, html
  margin 0
  padding 0

body, button, input, select, textarea
  font: fonts.c1

section.section
  padding 30px 0

.container
  position relative
  max-width 1200px
  margin auto

.clear
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

ul
  margin 0
  padding 0
li
  margin 0
  padding 0
  list-style-type none

.page-enter-active
  transition opacity 1s ease-in-out 0.3s
.page-leave-active
  transition opacity 0.3s ease-in-out

.page-enter, .page-leave-to
  opacity 0

.seal
  display block
  width 70px
  height 70px
  padding-top 60px
  padding-left 60px
  > svg
    width inherit
    height inherit
    > path
      fill white
      transition fill 0.3s ease
      
a.seal:hover > svg > path
  fill rgba(white, 0.5)


.address, .socials
  position absolute
  bottom 60px
  color white
  letter-spacing 3px
  text-transform uppercase
  text-decoration none

.address
  left 30px
  padding 2px 10px
  > .copy
    transition all 0.3s ease 0s
  &:hover
    color rgba(white, 0.5)
    > .copy
      color rgba(white, 0.5)
      text-decoration underline

.socials
  right 30px
  > .social
    transition all 0.3s ease 0s
    text-decoration none
    color white
    display block
    padding 2px 10px
    > a
      color white
      text-decoration none
      &:hover
        color rgba(white, 0.5)
        text-decoration underline

@media all and (min-width: 1px) and (max-width: 1000px)
  .address,
  .socials
    bottom 20px
  .address
    left 10px
    > .copy
      font-size 14px !important
      line-height 16px !important
  .socials
    left 20px
    bottom 80px
    > .social
      padding 0px
      margin 0px
      font-size 14px !important
      line-height 16px !important
      &.social_pinterest
        margin-top 10px
  .seal
    padding-top 20px
    padding-left 20px
    width 60px
    height 60px
