inViewport(delay)
  opacity 0
  transform translate(0, -20px)
  transition opacity 1s ease-in-out unit(delay, 's'), transform 1s ease-in-out unit(delay, 's')
  &.below-viewport
    opacity 0
    transform translate(0, 20px) 
  &.above-viewport
    opacity 0.6
    transform translate(0, -5px)
  &.in-viewport
    opacity 1
    transform translate(0, 0)
